<div>
    <h1>Inicie Sesion</h1>
    <form id="Loguearse">
        <label>Nombre: </label>
        <input name="name"><br> 
        <label>Email: </label>
        <input name="email"><br> 
        <label>Contraseña: </label>
        <input name="password"> <br>
        <input type="submit">  
    </form> <br>
    <label>Si no tienes cuenta porfavor registrarse</label> 
    <button onclick="getRegister">Registrarse</button> <br>
</div>

<script src="/js/loginSetter.js"></script>