<div>
    <h1>Inicie Sesion</h1>
    <form id="Loguearse">
        <label>Nombre: </label><br>
        <input name="name"> 
        <label>Email: </label><br>
        <input name="email"> 
        <label>Contraseña: </label><br>
        <input name="password"> 
        <input type="submit">  
    </form> <br>
    <label>Si no tienes cuenta porfavor registrarse</label> 
    <button onclick="getRegister">Registrarse</button> <br>
</div>