<div class="jumbotron mt-4">
    <h1 class="display-4">Ecommerce App Nodejs and Mongodb</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia amet numquam id reiciendis, incidunt eos asperiores unde explicabo nam accusamus vel cum quae blanditiis accusantium rem ipsum? Quas, dolorum.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis veritatis hic consequuntur sit itaque fugiat doloremque obcaecati et, possimus cupiditate!</p>
    <a href="/registro" class="btn btn-primary">REGISTER</a>
</div>